.competitor-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.competitor-side{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin:10px 40px;
}