.participate{
    margin: 10px 0;
    padding: 15px 0;
    padding-left: 15px;
    margin-right: 20%;
    background-color: white;
    position: fixed;
    width: 350px;
}
.participate span{
    color: olivedrab;
}
