
.header{
    background-color: #262626;
    text-align: center;
    width: 70%;
    margin: 0px auto;
}
/* paraent div design  */
.header div{
    color: white;
    padding-top: 20px;
    margin-top: 0;
}
/* club name design  */
.club{
    color: #b8eb70;
}
/* 3 child design  */
.header div h1{
    margin: 0;
}
.header div p{
    font-size: 20px;
    color: rgba(206, 116, 206, 0.911);
    padding-top:10px;
    margin: 0;
}
.header div h3{
    color: goldenrod;
    padding: 10px 0;
    margin: 0;
}